@page "/categories"

<h3>Categorias</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/categories/create">Nuevo Categoria</a>
</div>

<GenericList MyList="Categories">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Categories!)
                {
                    <tr>
                        <th>@category.Name</th>
                        <td>
                            <a href="/categories/edit/@category.Id" class="btn btn-sm btn-warning">Editar</a>
                            <button @onclick=@(() => DeleteAsycn(category)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>


