@page "/states/details/{StateId:int}"

<h3>Detalle País</h3>

@if (state is null)
{
    <Loading />
}
else
{
    <h3>@state.Name</h3>

    <a class="btn btn-primary" href="/cities/create/@StateId">Nuevo Ciudad</a>
    <a class="btn btn-success" href="/countries/details/@state.CountryId">Regresar</a>

    <h4>Ciudades</h4>
    <GenericList MyList="state.Cities!.ToList()">
        <Body>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ciudad</th>                      
                        <th style="width:168px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in state.Cities!)
                    {
                        <tr>
                            <td><a href="/states/details/@state.Id">@city.Name</a></td>
                            <td>
                                @* <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(state.Id, true))><i class="bi bi-pencil" /> Editar</a> *@
                                <a class="btn btn-warning btn-sm" href="/cities/edit/@city.Id"><i class="bi bi-pencil" /> Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(city))><i class="bi bi-trash" /> Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}