@page "/countries" 

<h3>Paises</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>

<GenericList MyList="Countries">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />
                    @* RecordsNumber="SelectedRecordsNumberAsync" /> *@

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:120px">País</th>
                    <th style="width:210px">Estados / Departamentos</th>
                    <th style="width:300px"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td><a href="/countries/details/@country.Id"> @country.Name</a></td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning">Editar</a>
                            @* <a @onclick=@(() => ShowModalAsync(country.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a> *@
                            <a class="btn btn-infor btn-sm" href="/countries/details/@country.Id">Detalles</a>
                            <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>


@* <div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Países
            <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nuevo País</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar país..." Callback=@FilterCallBack />
        <GenericList MyList="Countries">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th style="width:210px">Estados / Departamentos</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Countries!)
                        {
                            <tr>
                                <td><a href="/countries/details/@country.Id"> @country.Name</a></td>
                                <td>@country.StatesNumber</td>
                                <td>
                                    <a @onclick=@(() => ShowModalAsync(country.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div> *@
